:root {
    --primary-color: #fcb285;
    --second-color: #cbdbda;
    --third-color: #f0f0f0; 
    --highlight-color: #074756;
    --max-width: 900px;


}


body {
    background-image: url("img/minimalist-coffee.jpeg");
    background-size:  max(1920px,100%) max(1080px,100%);
    background-repeat: no-repeat;
    padding: 80px;
    max-width: var(--max-width);
}

.navbar {
    display: flex;
    justify-content: space-around;
}

.nav-button {
    background-color: var(--third-color);
    margin: 16px;
    border: 0px;
    padding: 32px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    min-width: 200px;
    font-size: 1.5rem;
    /* color: white; */
}